{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
<main class="register-page">

  <section class="register-hero">
    <div class="register-anim"></div>   
    <div class="register-anim2"></div>  
    <div class="register-anim3"></div>  

    <h1>Crée ton compte</h1>
    <p>Rejoins Hearth Blue pour créer, découvrir et participer aux activités près de chez toi.</p>
    <a class="back-link" href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
  </section>
  
  <div class="register-container">
    <div class="register-form-wrapper">
      {{ form_errors(registrationForm) }}

      {{ form_start(registrationForm, { attr: { class: 'register-form' } }) }}

        <div class="form-group">
          {{ form_row(registrationForm.name, { label: 'Nom complet' }) }}
        </div>

        <div class="form-row">
          <div class="form-group half-width">
            {{ form_row(registrationForm.age, { label: 'Âge' }) }}
          </div>
          <div class="form-group half-width">
            {{ form_row(registrationForm.city, { label: 'Ville' }) }}
          </div>
        </div>

        <div class="form-group">
          {{ form_row(registrationForm.country, { label: 'Pays' }) }}
        </div>

        <div class="form-group">
          {{ form_row(registrationForm.email, { label: 'Email' }) }}
        </div>

        <div class="form-group">
          {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}
        </div>

        <div class="form-group">
          {{ form_row(registrationForm.agreeTerms, { label: 'J’accepte les Conditions Génerale d\'Utilisation' }) }}
        </div>

        <button type="submit" class="btn-primary">Créer mon compte</button>
  </div>

</main>
{% endblock %}
